<form method="post" action="{{ path('participant_delete', {'id': participant.id}) }}" onsubmit="return confirm('Êtes-vous sûr de supprimer cet utilisateur ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ participant.id) }}">
    <button class="btn">Delete</button>
</form>
