{{ form_start(form) }}
    {{ form_widget(form) }}
    <hr>
    <div class="row">
        <button class="btn btn-primary ml-auto mr-auto">{{ button_label|default('Enregistrer') }}</button>
    </div>
    <br>
{{ form_end(form) }}
