{% extends 'base.html.twig' %}

{% block title %}Modifier le profil{% endblock %}

{% block body %}
    <div class="div-form">
        <br>
        <h1>Modifier le profil</h1>
        <hr>
        {{ include('participant/_form.html.twig', {'button_label': 'Modifier'}) }}

{#        <a href="{{ path('participant_index') }}">back to list</a>#}

{#        {{ include('participant/_delete_form.html.twig') }}#}
    </div>
    <br>
    <br>
{% endblock %}

{#{% block javascripts %}#}

{#    <script>#}
{#        let form = document.querySelector('form[name=registration_form]');#}
{#        form.onsubmit = (e)=>{#}
{#            // e.preventDefault();#}
{#            for(let input of form.querySelectorAll('input')){#}
{#                console.log(input.value);#}
{#            }#}
{#        };#}
{#    </script>#}

{#{% endblock %}#}