{% extends 'base.html.twig' %}

{% block title %}Ajouter un participant | {{ parent() }}{% endblock %}

{% block body %}
    <h1>Nouveau Participant</h1>

    {{ include('participant/_form.html.twig') }}

    <a href="{{ path('participant_index') }}" class="btn btn-secondary">Retour à la liste</a>
{% endblock %}
