body{
    padding: 0;
    margin: 0;
    color: #222;
    background-color: #EEE;
}
footer{
    color: #F5F5F5;
    background-color: #d9230f;
    width: 100%;
    height: 50px;
}
footer a {
    color: grey;
}
h1{
    color: #d9230f;
}
.btn{
    border-radius: 2px;
}
.div-form{
    margin: 5% auto 0 auto;
    padding: 0 5% 0 5%;
    width: 90%;
    /*max-width: 700px;*/
    border-radius: 10px;
    /*box-shadow: 0px 0px 10px black;*/
    /*text-align: center;*/
    border: 2px solid #ef796c;
    background-color: #EFEFEF;
}
input, select, select option{
    border-radius: 15px !important;
}
.custom-file-label{
    overflow: hidden;
    border-radius: 15px !important;
}

@media (max-width: 1000px){
    .table thead {
        display: none;
    }
    .table tr{
        display: block;
        margin-bottom: 40px;
    }
    .table td {
        display: block;
        text-align: right;
    }
    .table td::before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
    }
}