{% extends 'base.html.twig' %}

{% block pageTitle %}Modification | {{ parent() }}{% endblock %}

{% block title %}<h1>Modifier une Sortie</h1>{% endblock %}

{% block body %}

    {{ include('sortie/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('sortie_index') }}">back to list</a>

    {{ include('sortie/_delete_form.html.twig') }}
{% endblock %}
