{% extends 'base.html.twig' %}

{% block title %}Modification | {{ parent() }}{% endblock %}

{% block body %}
    <h1>Modifier une Sortie</h1>
    <br>
    {{ include('sortie/_form.html.twig') }}

    <a href="{{ path('sortie_index') }}" class="btn btn-secondary">Retour à la liste</a>

    {{ include('sortie/_delete_form.html.twig') }}
{% endblock %}

