{% extends 'base.html.twig' %}

{% block title %}Nouvelle Sortie | Sortir.com{% endblock %}

{% block body %}
    <h1>Créer une Sortie</h1>

    {{ include('sortie/_form.html.twig') }}

    <a href="{{ path('sortie_index') }}">Annuler</a>
{% endblock %}
