{% extends 'base.html.twig' %}

{% block title %}Logo Sortir.com{% endblock %}

 {% block header %}
     {% include '/inc/navbar.html.twig' %}
 {% endblock %}

{% block body %}

<h1>Accueil</h1>

{% endblock %}
