{% extends 'base.html.twig' %}

{% block title %}Logo Sortir.com{% endblock %}

 {% block header %}
     {% include '/inc/navbar.html.twig' %}
 {% endblock %}

{% block body %}


    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/wamp64/www/ProjetSorties/src/Controller/AccueilController.php'|file_link(0) }}">src/Controller/AccueilController.php</a></code></li>

    </ul>
</div>

{% endblock %}
