{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="d-inline-block mx-auto mt-5">
            <h1>404 - Vous êtes perdu ?</h1>

            <p>
                La ressource demandé n'existe pas, <a href="{{ path('accueil') }}">retourner à la page d'accueil</a>.
            </p>
        </div>
    </div>
{% endblock %}