{% block footer %}
    <footer>
        <div class="row m-0">
            <div class="col-2">
                <span><em>ENI  2020 - 2021</em></span>
            </div>
            <div class="col-10 text-right">
                <span>Projet Sortie.com</span> <br>
                <span><a href="https://github.com/johdcode/ProjetSorties">Github</a></span>
            </div>
        </div>
    </footer>
{% endblock %}